

<head>
     <link href="~/Assets/Client/Css/University/UniversityHome.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper">
        <div class="uni-subheader">
            <span class="banner"></span>
        </div>
        <div class="main-content">
            <div class="container">
                @foreach (var item in ViewBag.InfoUni)
                {
                    <div class="uni-info">
                        <div class="img-thumbnail">
                            <span class="img-thumbnail">
                                <img scr="@item.UniversityLogo">
                            </span>
                        </div>
                        <div style="margin-left: 230px;padding-top: 5px">
                            <h2 id="uni-name"> @item.UniversityName</h2>
                            <div class="uni-info-option">
                                <i class="fa fa-map-marker"></i> Địa chỉ: @item.Address
                            </div>
                            <div id="Website">
                                <i class="fa fa-globe"></i>
                                <a href="https://uet.vnu.edu.vn/" target="_blank">Website: https://uet.vnu.edu.vn/</a>
                            </div>
                            <div id="email"><i class="fas fa-envelope"></i> Email: @item.Email</div>
                            <div id="hotline"><i class="fas fa-phone-square-alt"></i> Hotline: @item.Mobile</div>
                            <div id="descrip">@item.Description</div>
                            <a href="/Statistic/@item.UniversityID" class="uni-overview">
                                <i class="fa fa-chart-bar"></i>
                                <span>  Báo cáo thống kê</span>
                            </a>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</body>

