@model Model.EF.WorkInvitation

@{
    ViewBag.Title = "InviteWork";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
}
@section cssInsert{
    <link href="~/Assets/Client/Css/Manage/InviteWork.css" rel="stylesheet" />
}

<div id="main">
    <div id="mainBody">
        <vr></vr>
        <div id="header"><b>TIẾN TRÌNH NỘP HỒ SƠ</b></div>
        <div id="stages">
            <div class="stage" style="left: 0px;"><br><b>1 - Nộp Đơn</b></div>
            <div class="triangleStageWhite" style="left: 256px; "></div>
            <div class="triangleStageGray" style="left: 254px; "></div>
            <div class="stage" style="left: 255px; "><br><b>2 - Phỏng Vấn</b></div>
            <div class="triangleStageWhite" style="left: 505px;"></div>
            <div class="triangleStageGray" style="left: 503px;  "></div>
            <div class="stage" style="left: 506px;background-color: #f07e1d; color: white; cursor: pointer;"><br><b>3 - Mời Làm</b></div>
            <div class="triangleStageWhite" style="left: 762px;"></div>
            <div class="triangleStageGray" style="left: 759px; border-left-color: #f07e1d;"></div>
            <div class="stage" style="left: 760px;"><br><b>4 - Kết Quả</b></div>
            <div class="triangleStageWhite" style="left: 1016px;"></div>
            <div class="triangleStageGray" style="left: 1014px; "></div>
        </div>
        <div id="status"><i class="fas fa-quote-left"></i> <b> Nhà tuyển dụng đã chọn mức lương và ngày bắt đầu làm việc. Bạn vui lòng xác nhận mức lương và ngày bắt đầu làm việc. </b><i class="fas fa-quote-right"></i></div>
        <div id="content">
            <div id="result2">Bạn đã từ chối công việc.</div>
            <div id="verticalLine"></div>
            <div id="mainContent">
                <div id="offername"><i class="far fa-calendar"></i><b> Vị trí:</b> @ViewBag.Offer.OfferName</div>
                <div class="line"></div>
                <div id="startDate"><i class="far fa-calendar"></i><b> Ngày bắt đầu làm:</b> @Model.StartDay</div>
                <div class="line"></div>
                <div id="salary"><i class="far fa-money-bill-alt"></i><b>Mức lương:</b> @Model.Salary</div>
                <div class="line"></div>
                <div id="address"><i class="far fa-calendar"></i><b> Địa chỉ:</b> @Model.Address</div>
                <div class="line"></div>
                <div id="note"><i class="far fa-calendar"></i><b> Lời nhắn:</b> @Model.Note</div>
                <div class="button" id="accept"><i class="	far fa-handshake"></i>Đồng ý làm việc</div>
                <div class="button" id="ignore"><i class="fas fa-times-circle"></i>Hủy nộp đơn</div>
            </div>

        </div>
    </div>
    <div id="offer" stt="@Model.OfferID"></div>
</div>
@section jsInsert{
    <script src="~/Assets/Client/Js/Manage/InviteWork.js"></script>
}

