@model List<Model.EF.Enterprise>
@{
    ViewBag.Title = "Enterprise Management";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@section header{ Enterprise Management}
@section breadcrumb{
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item active">Enterprise Management</li>
}

<div class="card-header">
    <i class="fas fa-table mr-1"></i>
    List of Enterprises
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>EnterpriseName</th>
                    <th>EnterpriseLogo</th>
                    <th>EstablishYear</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>EnterpriseName</th>
                    <th>EnterpriseLogo</th>
                    <th>EstablishYear</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="row_@item.EnterpriseID">
                    <td>@item.EnterpriseName</td>
                    <td><img src="@item.ImageLogo" width="auto" height="80px"></td>
                    <td>@item.EstablishYear</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                    <td>@Html.ActionLink("Detail", "DetailEnterprise", new { id = item.EnterpriseID })</td>
                    <td>
                        @Ajax.ActionLink("Delete", "DeleteEnterprise", new { id = item.EnterpriseID }, new AjaxOptions
                    {
                       Confirm = "Are you sure to delete?",
                       OnComplete = "$('#row_" + @item.EnterpriseID + "').remove()",
                       HttpMethod = "Delete"
                    })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
