@model List<Model.EF.Employee>


@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/LayoutForEnterprise.cshtml";
}

@section cssInsert{

    <link href="http://localhost:58154/Assets/Client/Css/Employee/EmployeeList.css" rel="stylesheet" />
}

<div id="wrap">
    <div id="row">
        <a id="viec-lam" class="rower" href="#">Việc làm</a>/<a id="nha-tuyen-dung" class="rower" href="#">Nhà tuyển dụng : Quản lý</a>
        /<span id="danh-sach" class="rower">Danh sách thành viên công ty</span>
    </div>

    <div id="main">
        <div id="title">
            <h1> Danh sách thành viên công ty </h1>
        </div>

        <div id="tab-content">
            <div id="utility" class="utility">
                <div id="display-utility" class="display-utility">
                    <label>
                        Hiển thị
                        <select id="display" name="hien-thi">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                    </label>
                </div>

                <div id="search-utility" class="search-utility">
                    <label>
                        Tìm kiếm
                        <input type="text" name="tim-kiem" id="search" />
                    </label>
                </div>
            </div>

            <div id="tab" class="tab">
                <div id="list-employee">
                    <table>
                        <thead>
                            <tr>
                                <th>Thành viên</th>
                                <th>Chức vụ</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="employee-rows">
                                    <td class="employee-name">
                                        @item.EmployeeName
                                    </td>

                                    <td class="position">
                                        @(new Model.Dao.PositionEmployeeDao().NamePosition(item.Position))
                                    </td>

                                    <td class="email">
                                        @item.Email
                                    </td>

                                    <td class="phone">
                                        @item.Mobile
                                    </td>

                                    <td class="action">
                                        <div class="detail-button" employee="@item.EmployeeID" onclick="deleteEmployee()">
                                            Xóa
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page">
                <div class="prev"><i class="fa fa-chevron-left"></i></div>
                <div class="next"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</div>

@section jsInsert{



    <script src="http://localhost:58154/Assets/Client/Js/Employee/EmployeeList.js"></script>
}
